body {
  background-color: dodgerblue;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 50px;
  text-align: center;
}

.component-example {
  background: rgba(white, 0.3);
  border: 1px dashed black;
  padding: 10px;
  width: 400px;
  margin: auto;
}
